<style>
    .error{
        display: flex;
        justify-content: center;
        padding: 5% 25%;
    }
    .enlace_error{
        text-decoration: none;
        color: rgb(3, 124, 124);
        font-size: xx-large;
    }

</style>
<div class = "error">
    <div>

        <h2>¡Lo sentimos! No encontramos la página que buscas, pero ve a: </h2>
        <div class = "error" style="padding-top: 0;">
            <a class = "enlace_error" href="/">Nuestro inicio</a>
        </div>
    </div>

</div>
