
<div id = "contenedor_login">

    <form class = "login_form" action = "/login" method="post">
        <h2>
            Iniciar Sesión
        </h2>
        <hr style="color:rgb(3, 124, 124)">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" >
            
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password"  name = "password" class="form-control" id="password">
        </div>
        <div id = "contenedor_btn_login">
            <button type="submit" class="btn btn-primary" style="background-color:rgb(3, 124, 124); border: none;">Iniciar sesión</button>

        </div>
    </form>

</div>